.bg-red {
    background-color: #ED1C24;
}

.bg-brown {
    background-color: #633103;
}

.bg-yellow {
    background-color: #FDC508;
}

.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: #0001FC;
}